.window {
    width: 100%;
    display: grid;
    align-items: flex-start;
    grid-template-areas: 'param log'
        'pos log'
        'doc log'
        'f   log';
    grid-template-columns: 1fr 484px;
    grid-template-rows: repeat(3, min-content);
    gap: 16px;
}

.param {
    grid-area: param;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 28px;
    box-sizing: border-box;
    background-color: #FFF;
    border-radius: 8px;

}

.title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin: 0;
}