.search {
    height: 44px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 280px;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color-bg-card);
    border-radius: 4px;

      
    @media(max-width: 1860px) {
        padding: 8px;
        height: 38px;
    }
    
    input {
        height: 100%;
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        background: none;
        color: var(--color-text-primary);

        @media(max-width: 1860px) {
            font-size: 14px;
            line-height: 20px;
            height: 38px;
        }

        &::placeholder {
            color: var(--color-text-secondary);
        }
    }
}