.app {
    /* height: 100%; */
   /*    max-width: 1558px; */
        min-width: 1260px;
    /*   margin: 40px auto 40px 300px; */
    padding: 30px 30px 0;
    height: calc(100vh - 94px);
    overflow: overlay;
    overflow-y: auto;

    


    &_skilla {
        height: auto;
        padding: 40px 40px 0;
    }


    a {
        color: inherit;
    }

    a:visited {
        color: inherit;
    }

    a:active {
        color: inherit;
    }

    @media(min-width: 1980px) {
        padding: 30px 50px;
    }

}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    @media(max-width: 1860px) {
        height: 38px;
        margin-bottom: 12px;
    }
}

.title {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: var(--color-text-primary);

    sup {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0.056px;
        opacity: 0.7;
        margin-left: 4px;
    }

    @media(max-width: 1860px) {
        font-size: 20px;
        line-height: 20px;
    }
}

.buttons {
    height: 44px;
    display: flex;
    gap: 12px;
    @media(max-width: 1860px) {
        height: 38px;
    }
}

.button {
    height: 100%;
    padding: 12px 24px;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;

    @media(max-width: 1860px) {
        padding: 7px 16px;
        height: fit-content;
        font-size: 14px;
        line-height: 18px;
    }

    svg {
        margin-left: 8px;
    }

    &_main {
        background-color: #002CFB;
        color: #FFFFFF;

        &:hover {
            background-color: #0028E5;
        }
    }

    &_add {
        color: var(--color-button-accent);
        border: 1px solid var(--color-button-accent);
        box-sizing: border-box;

        svg path {
            fill: var(--color-button-accent);
        }

        &:hover {
            color: var(--color-button-accent-hover);
            border-color: var(--color-button-accent-hover);

            svg path {
                fill: var(--color-button-accent-hover);
            }
        }
    }

    &_cancle {
        color: #E75A5A;
        border: 1px solid #E75A5A;
        box-sizing: border-box;

        &:hover {
            color: #c94a4a;
            border-color: #c94a4a;
        }
    }

    &:disabled {
        pointer-events: none;
        opacity: 0.6;
    }
}

.pro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    width: 100%;
    max-width: calc(100% - 240px);
    color: var(--color-text-secondary);
    font-size: 18px;


    p {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-left: 120px;
        transition: all 0.2s;

        &:hover {
            opacity: 0.8;
        }
    }



    span {
        margin: 0 6px;
    }
}