/* @import './vendor/normalize.css';
@import './vendor/fonts/fonts.css'; */
@import './vendor/constants.scss';

#root_purchases {
/*   position: absolute;
  transition: all 0.2s;
  top: 64px;
  right: 0; */
  background-color: #F1F4F9;
  color: var(--color-text-primary);
}

body {
  font-family: 'Inter', 'sans-serif';
  font-size: 16px;
  font-style: normal;
  background-color: #F1F4F9;
  color: var(--color-text-primary);
}



img {
  /* pointer-events: none; */
  user-select: none;
}

input:focus,
button:focus {
  outline: 0;
}

input {
  border: none;
}

;

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 148%;
}

p {
  margin: 0;
  padding: 0;
/*   line-height: 100% !important;
  text-align: start !important; */
}

h2 {
  margin: 0;
  padding: 0;
  height: auto;
  color: var(--color-text-primary);
  text-transform: none;
  font-family: 'Inter', 'sans-serif' !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--color-bg-card);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-disabled);
  border-radius: 20px;
  border: 1px solid var(--color-bg-disabled);
}

div::-webkit-scrollbar {
  width: 8px;
}

div::-webkit-scrollbar-track {
  background: var(--color-bg-car);
}

div::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-disabled);
  border-radius: 20px;
  border: 1px solid var(--color-bg-disabled);
}

textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-track {
  background: var(--color-bg-car);
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-disabled);
  border-radius: 20px;
  border: 1px solid var(--color-bg-disabled);
}

ul::-webkit-scrollbar {
  width: 8px;
}

ul::-webkit-scrollbar-track {
  background: var(--color-bg-card);
}

ul::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-disabled);
  border-radius: 20px;
  border: 1px solid var(--color-bg-disabled);
}

html {
  /*  scroll-behavior: smooth; */
}

.infinite-scroll-component {
  overflow: visible !important;
}